{%extends 'base.html'%}
{% block content %}
<main class="container">

    <div class="row">

        <section class="col-md-4 offset-md-4">
            <form action="/login/" method="POST" class="card card-body mt-5" >
                <h1 class="text-center">Login</h1>
                {% csrf_token %}
                <h4>{{error}}</h4>
                
                <div class="mb-3">
                <label for="username">Username:</label>
                <input type="text" name="username" class="form-control" placeholder="Write your username" id="username">
                
                <label for="password">Pasword:</label>
                <input type="password" name="password" class="form-control" placeholder="Write your Password" id="password">
                
                
                </div>         
                <button class="btn btn-primary">enviar</button>
                </form>
                

        </section>

    </div>
</main>


{%endblock%}